*{
  font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.5s;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}
html::-webkit-scrollbar{
  width: 1rem;
}
html::-webkit-scrollbar-track{
  background: #111;
}
html::-webkit-scrollbar-thumb{
  background: #ff5722;
  border-radius: 5rem;
}
body{
  background: #1a1a1a;
  overflow-x: hidden;
}
section{
  padding:  3rem 9%;
}
.heading {
text-align: center;
  margin-bottom: 2rem;
}
.heading span {
  color: #ff5722;
  font-size: 2rem;
}
.heading h1 {
  font-size: 4rem;
  color: #fff;
}
.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #ff5722;
  border: 0.5rem solid #ff5722;
  border-radius: 5rem;
  cursor: pointer;
  background:  none;
  transition: 0.5s;
  font-weight: bold;
}
.btn:hover {
  background: #ff5722;
  color: #111;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 9%;
}
.header .navbar a {
    font-size: 1.7rem;
    color: #aaa;
    display: inline-block;
    margin: 0 1rem;
}
.header .navbar a:hover {
    color: #ff5722;
}
.header .btn {
  margin-top: 0;
}
@media (max-width: 991px) {
  html{
    font-size: 55%;
  }
  .header {
    padding: 3rem 2rem;
  }
  .section {
    padding: 3rem 2rem;
  }

}
@media (max-width: 768px) {
  #menu-btn{
    display: inline-block;
  }

}
.header .navbar{
  position: absolute;
  top: 99%;
  left:0;
  right: 0;
  background: #222;
  //-webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

}
.header .navbar .active {
  //-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
}
.header .navbar a {
  margin: 2rem;
  font-size: 2rem;
  display: block;
}
.home{
  margin: 0 auto;
  margin-top: 9rem;
  width: 100%;
  border-radius: 1rem;
  background: linear-gradient(rgb(100 100 100 ),
  rgba(17, 17, 17, 0.7)),
  url("../assets/img/pexels-taras-kots-9420593.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;

}
.home .content {
  text-align: center;
}
.home .content span{
  font-weight: bolder;
  color: #ff5722;
  -webkit-text-stroke: 0.3rem #fff;
  font-size: 6vw;
  display: block;
}
.home .content h3 {
  font-size: 6vw;
  color: #fff;
}
.home .content p {
  max-width: 60rem;
  margin: 1rem auto;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}
.home {
   margin-top: 10rem;
 }

.home .content span {
  font-size: 8vw;
}
.home .content h3 {
  font-size: 9vw;
}

@media (max-width: 450px) {
  html{
    font-size: 50%;
  }
  .about .content h3 {
    font-size: 3.5rem;

  }
  .banner .content h3 {
    font-size: 2.7rem;
  }

}

.logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;

}
.logo i {
  color: #ff5722;
  padding-right: 0.5rem;
}
#menu-btn {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  display: none;
}
.about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 5rem;

}
.about .img-container {
    flex: 1 1 42rem;
}
.about .img-container img {
  border-radius: 1rem;
  width: 100%;
}

.about .content {
  flex: 1 1 42rem;
  margin-bottom: 5rem;
}
.about .content span {
  color: #ff5722;
  font-size: 2rem;
}
.about .content h3 {
  color: #fff;
  font-size: 4rem;
  margin-top: 0.5rem;
}
.about .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}
.popular .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}